extends layout

block content
  h2.text-accent.mb-4
    i.bi.bi-collection-fill.me-2 


  .card.card-custom.p-4.mb-4
    h5.mb-3 Crear nueva colección
    form(action="/collections" method="POST")
      .input-group
        input.form-control(type="text" name="nombre" placeholder="Ej: Paisajes, Ideas, Inspiración..." required)
        button.btn.btn-primary-custom(type="submit")
          i.bi.bi-plus-lg.me-1


  if collections.length === 0
    .alert.alert-secondary
      i.bi.bi-collection.me-2
      
  else
    .row
      each collection in collections
        .col-md-4.mb-3
          .card.card-custom.p-3
            h5.text-accent= collection.nombre
            a.btn.btn-sm.btn-outline-light.mt-2(href=`/collections/${collection.id}`)
              i.bi.bi-eye.me-1